.header {
  .is-active{
    font-size: 20px !important;
    border: none;
    .icon-publishgoods_fill {
      font-size: 40px;
    }
    a,.el-submenu__title{
      font-size: 20px !important;
      color: #409EFF !important;
    }
  }
  height: auto !important;
  position: relative;
  display: flex;
  justify-content: center; 
  align-items: center;
  .is-fixed{
    top:15px;
  }  
  .icon-publishgoods_fill {
    font-size: 30px;
  }
  .logo_container{   
    width: 200px;    
    position: absolute;
    left: 100px;
    top: 15px;
    .logo {
      height:35px;
    }
  }
  .el-menu-demo {
    border-bottom: none;
    .el-menu-item, .el-submenu__title{
      font-size: 18px;
      padding: 0 35px;
    }
    a{
      font-size: 18px;
      color:#909399;
      text-decoration: none;
    }
  }
}
.el-footer {
  div {
    width: 80%;
    margin: 0 auto;
    height: 100px;
    // background-color: cadetblue;
    
    p {
    position: relative;      
      top: 40px;
      text-align: center;
      span {
        float: right;
      }
    }
  }
}

@media screen and (max-width:998px){
  .header{
    // display: flex;
    flex-direction:column;
  }
  .logo_container{   
    // position: relative;
    // width: 100% !important;
    opacity: 0;
  }
  .el-menu-item{
    font-size: 18px !important;
    padding: 0 10px !important;
  }
}