.header {
  height: auto !important;
  // @media screen and (min-width:1331px){
    // margin-right: 200px; 
  display: flex;
  justify-content: center; 
  align-items: center;
  // }
  .is-fixed{
    top:15px;
  }  
  .icon-publishgoods_fill {
    font-size: 30px;
  }
  // .is-active{
  //   font-size: 18px;
  //   .icon-publishgoods_fill {
  //     font-size: 40px;
  //   }
  // }
  .logo_container{   
    width: 400px;    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    .logo {
      height:35px;
      // margin-top: 16px;
      
      // margin-left: 100px;
      // margin-right: 300px;
    }
  }
  
  .el-menu-demo {
    border-bottom: none;
    // @media screen and (min-width:786px){
    //   margin-right: 200px;        
    // }
  }
}
.el-footer {
  div {
    width: 80%;
    margin: 0 auto;
    height: 100px;
    // background-color: cadetblue;
    
    p {
    position: relative;      
      top: 40px;
      text-align: center;
      span {
        float: right;
      }
    }
  }
}
@media screen and (max-width:810px){
  .header{
    // display: flex;
    flex-direction:column;
  }
  .logo_container{   
    width: 100% !important;
  }
}