.detail-container {
  padding: 0 15px;
  .prod-demo {
    ul,
    li {
      list-style: none;
      margin: 0;
      padding: 0;
    }
    .bg {
      width: 920px;
      height: 540px;
      margin: 0 auto;
      padding: 20px; // border: 1px solid #E8E8E8;
      overflow: hidden;
      min-width: 900px;
      box-sizing: border-box;
      background: #fff;
    }
    .bg_left {
      width: 430px;
      height: auto;
      float: left;
    }
    .show img:hover {
      .detail {
        opacity: 0;
      }
    }
    .bg_right {
      float: left;
    }
    .show {
      width: 430px;
      height: 430px;
      margin-bottom: 10px;
      position: relative;
      border: 1px solid #E8E8E8;
      cursor: move
    }
    .show img {
      width: 430px;
      height: 430px;
    }
    .mask {
      width: 215px;
      height: 215px;
      background: #000;
      filter: Alpha(opacity=50);
      opacity: 0.5;
      position: absolute;
      top: 0;
      left: 0;
      display: none;
    }
    .bigshow {
      width: 430px;
      height: 430px;
      overflow: hidden;
      margin-left: 10px;
      display: none;
      border: 1px solid #E8E8E8;
    }
    .bigshow img {
      width: 860px;
      height: 860px;
      margin-right: 10px;
    }
    .smallshow {
      width: 100%;
      height: 70px;
      position: relative
    }
    .smallshow img {
      width: 100%;
      border: 1px solid #e8e8e8;
      box-sizing: border-box;
      transition: all 0.5s
    }
    .smallshow>.middle_box {
      margin-left: 30px;
      margin-right: 30px;
      width: 370px;
      overflow: hidden;
      height: 70px;
    }
    .smallshow .middle {
      overflow: hidden;
      transition: all 0.5s;
      height: 70px;
    }
    .smallshow .middle>li {
      width: 64px;
      height: 64px;
      float: left;
      cursor: pointer;
      padding: 0 5px;
    }
    .smallshow>p {
      position: absolute;
      top: 50%;
      width: 22px;
      height: 32px;
      margin-top: -16px;
    }
    .smallshow>.prev {
      left: 0;
      background: url(images/hover-prev.png) no-repeat;
      transition: all 0.5s
    }
    .smallshow>.next {
      right: 0;
      background: url(images/hover-next.png) no-repeat;
      transition: all 0.5s
    }
    .smallshow>.prev.prevnone {
      left: 0;
      background: url(images/prev.png) no-repeat;
      cursor: not-allowed
    }
    .smallshow>.next.nextnone {
      right: 0;
      background: url(images/next.png) no-repeat;
      cursor: not-allowed
    }
  }
  .detail {
    color: #9e9e9e;
    padding: 30px 15px;
    h1 {
      font-size: 1.2rem;
      margin-bottom: 15px;
      font-weight: 300;
      line-height: 1.2;
      color: #37474f;
    }
    .price {
      padding: 20px;
      background-color: #fafafa;
      .num {
        font-size: 1.3rem;
        color: #f96868
      }
    }
    .form-group {
      margin: 15px 0;
      p {
        margin-bottom: 10px;
      }
      .el-button {
        padding: 15px 55px;
      }
    }
    @media screen and (max-width:410px) {
      .form-group {
        .el-button {
          padding: 15px 15px;
        }
      }
    }
  }
}

.content-body {
  background: #f2f2f2;
  padding: 20px;
  // height: 500px;
  .container{
    background: #f2f2f2;
  }
  .introduce{
    background:#fff;
    // height: 300px;   
    .details{
      ul{
        list-style: none;     
        padding: 20px 0; 
        li{
          // float: left;
          display: inline-block;
          margin: 0 20px;
          line-height: 1.5;
          color: #5e7387;
          font-weight: 500;
          font-size: 14px;
        }
      } 
      hr{
        border: none;
        border-bottom: 1px solid #f0f2f5;
      }
      .img-box{
        padding: 20px 0;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        img{
          // width: 100%;
          max-width: 100%;
          margin: 20px auto;
        }
      }
    }
    .function, .packing{
      padding: 20px 0;
      ul{
        li{
          font-size: .8rem;
          line-height: 2rem;
        }
      }
      .img-box{
        padding: 20px 0;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        img{
          // width: 100%;
          max-width: 100%;
          margin: 20px auto;
        }
      }
    }
  }

  .recommend{
    margin-left: 20px;
    height: 400px;
    width:calc(25% - 20px);
    background-color: #fff;
  }
  
}

