@import '../css/index.css';
@import './container.scss';
@import './home.scss';
@import './product.scss';
@import './login.scss';
@import './register.scss';

* {
  margin: 0;
}
.is-active{
  font-size: 18px;
  .icon-publishgoods_fill {
    font-size: 40px;
  }
}
.row{
  margin: 0 !important;
}
.icon {
  width: 1em; height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  font-family: "Lucida Grande", Helvetica, Arial, "Microsoft YaHei", FreeSans, Arimo, "Droid Sans","wenquanyi micro hei","Hiragino Sans GB", "Hiragino Sans GB W3", Roboto, Arial,sans-serif;
  line-height: 1.2;
  color: #37474f;
}
.animate-box { 
  opacity: 0 
}