.register-header{
  max-width: 100%;
  margin: 0 25px;
  overflow: hidden;
  padding: 20px 0;
  border-bottom: 2px solid;
  position: relative;
  .register-title{
    display: inline-block;
    // float: left;
    margin-left: 30px;
    font-size: 24px;
    line-height: 2;
    color: #108ee9;
  }
  .user-section {
    font-size: 14px;
    float: right;
    line-height: 48px;
    a{
      color: #108ee9;
      background: transparent;
      text-decoration: none;
      outline: none;
      cursor: pointer;
      transition: color .3s ease;
    }
  }
}
.el-step__title{
  margin-left: -20px;
}
.content-wrapper {
  padding: 20px 0px;
  .btn-group {
    padding: 30px;
    text-align: center;
    button {
      margin: 10px;
    }
  }
  h1{
    margin-top: 20px;
    text-align:center;
    button{
      font-size: 12px;
      padding: 8px 10px;
    }
  }
}

.protocol {
  h1 {
    text-align: center;
    line-height: 3;
  }
  .content {
    border: 1px solid #ccc;
    padding: 20px;
    height:300px;
    overflow-y:scroll;
    h2 {
      text-align: center;
    }
    p{
      margin-bottom: 15px;
      font-size: 14px;
    }
  }
}

@media (max-width: 480px) {
  .content-wrapper {margin: 24px 20px;}
}

.active_content{
  display: flex;
  justify-content: center;
  align-items: center;
  #active_message{
    font-size: 20px;
  }
}
