.ucenter{
  background-color: #f2f2f2;
  padding: 40px;
  display: flex;
  justify-content: center;
  .dashbord{
    max-width: 256px;
    max-height: 327px;
    border-right: none;
    border-radius: 5px;
  }
  .u-body{
    width: 900px;
    border-radius: 4px;
    padding-bottom: 40px;
    margin-left: 40px;
    background-color: #fff;
  }
  .index-1-1{
    border-radius: 4px;
    .head-card{
      display: flex;
      padding: 40px;
      border-radius: 4px 4px 0 0;
      flex-direction: column;
      align-items: center;
      background-color: #62a8ea;
      img{
        width: 60px;
        height: 60px;
        border-radius: 500px;
      }
      .name{
        color: #fff;
        font-weight: 500;
        font-size: 20px;
      }
    }
    .body-card{
      padding: 30px 0;
      p{
        text-align: center;
      }
      .num{
        font-size: 20px;
        color: #62a8ea;
      }
      .desc{
        font-size: 14px;
      }
    }
    .menu-card{
      p{
        font-size: 14px;
        padding: 15px;
        border-bottom: 1px solid #e4eaec;
        transition: background .2s;
        -webkit-transition: background .2s; /* Safari and Chrome */
        span{
          float: right;
          padding-right: 20px;
        }
      }
      a:nth-child(1) p{
        border-top: 1px solid #e4eaec;
      }
      a{
        text-decoration: none;
        color: #76838f;
      }
      p:hover{
        background-color: #F0F8FA;
      }
    }
  }
  .index-1-2, .index-1-3, .index-1-4, .index-2 {
    padding: 20px;
  }
  .order-item{
    // border: 1px solid #f96868;
    margin-bottom: 40px;
    .order-info{
      margin: 0;
      border: 1px solid #f96868;
      padding: 10px 0;
      .status{
        color: #f96868;
        line-height: 2rem;
        font-size: 1rem;
      }
      .order-num{
        display: flex;
        // justify-content: center;
        align-items: center;
        .price{
          color: #f96868;
          font-size: 1.2rem;
        }
      }
    }
    .order-product{
      border: 1px solid #f96868;
      border-top: none;
      margin: 0;
      padding: 20px 0;
      .img-box{
        float: left;
        img{
          width: 60px;
        }
      }
      .desc{
        float: left;
        margin-left: 20px;
        .name{
          a{
            color: #526069;
            font-size: 16px;
            line-height: 30px;
          }
        }
        .num{
          font-size: 14px;
        }
      }
      .butt{
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
  .index-1-3{
    .el-tab-pane{
      width: 100%;
      height: 700px;
    }
  }
  .no-data{
    color: #76838f;
    font-size: 18px;
    text-align: center;
    margin-top: 3rem;
  }
  .index-1-4{
    .el-button{
      margin-bottom: 20px;
    }
    .address-box{
      float: left;
      margin-right: 20px;
      margin-bottom: 20px;
      position: relative;
      padding: 20px;
      width: 275px;
      height: 135px;
      border: 1px solid #E4EAEC;
      p{
        line-height: 1.3rem;
      }
      .name{
        font-weight: 400;
        font-size: 18px;
      }
      .phone, .address{
        color: #76838f;
        font-size: 14px;
      }
      .action{
        position: absolute;
        display: none;
        top: 5px;
        right: 5px;
        i{
          color: #76838f;
          font-size: 18px;
        }
        i:hover{
          cursor: pointer;
        }
      }
    }
    .address-box:hover{
      border: 1px solid red;
      .action{
        display: block;
      }
    }
  }
  .index-2{
    .row{
      margin: 0;
    }
    .safe-item{
      padding: 30px 0;
      border-bottom: 1px solid #ddd;
      .left-body{
        // display: inline-block;
        // float: left;
        display: flex;
        padding-left: 30px;
        justify-content: center;
        align-items: center;
        i{
          text-align: center;
          font-size: 40px;
          color: #337ab7;
        }
      }
      .right-body{
        .name{
          font-size: .8rem;
          line-height: 1.4rem;
        }
        .desc{
          color: #999;
          font-size: .6rem;
        }
      }
    }
  }
  @media screen and (max-width:680px){
    .el-dialog{
      width: 90%;
    }
  }
}
@media screen and (max-width:450px){
  .ucenter{
    justify-content: left;
    padding: 10px;
    width: 400px;
    .u-body{
      margin-left: 10px;
      width: 300px;
    }
    .dashbord{
      width: 60px;
    }
  }
}
